@use "./utils" as *;
@use "./components/buttons" as *;
@use "./general" as *;

body {
  background-color: $light-gray;
  padding-bottom: 3rem;
  max-width: toRem(1600);
  margin: 0 auto;
}

.data-cards-section {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  background-color: $white;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;

  .card-icon {
    width: 20%;
    font-size: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    color: $light-blue;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 0px 10px;
    display: grid;
    place-items: center;
  }

  .card-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    p {
      font-weight: bold;
      margin-right: 1rem;
    }
  }
}

.people-search-section {
  padding: 2rem;
  background-color: $white;
  margin: 4rem auto 0;
  width: 70%;
  border-radius: 1rem;

  .people-search-section__sides-wrap {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .people-search-section__left-side {
      width: 100%;
      margin-bottom: 1rem;

      input {
        width: 100%;
      }
    }

    .people-search-section__right-side {
      width: 100%;

      select {
        width: 100%;
      }
    }
  }
}

.person-field {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-between;
  border-bottom: $light-gray 1px solid;
}

.initialsContactInfo {
  gap: 1.5rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .initials {
    text-transform: uppercase;

    width: 2.5rem;
    height: 2.5rem;
    color: $light-blue;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 0px 10px;
    display: grid;
    place-items: center;
    border-radius: 50%;
  }
  .contact-info {
    text-align: center;
    p {
      margin: 0 0 0.2rem 0;
    }

    span {
      font-size: 0.7rem;
      color: $dark-gray;
    }
  }
}

.country {
  width: 30%;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .card {
    justify-content: space-between;

    .card-icon {
      width: 15%;
      font-size: 1.4rem;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
    }

    .card-info {
      width: 85%;
    }
  }

  .people-search-section {
    .people-search-section__sides-wrap {
      flex-direction: row;
      align-items: flex-start;

      .people-search-section__left-side {
        width: 70%;

        input {
          width: 98%;
        }
      }

      .people-search-section__right-side {
        width: 30%;
      }
    }
  }

  .person-field {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }

  .initialsContactInfo {
    gap: 0;
    flex-direction: row;

    .initials {
      margin-left: 2rem;
      margin-right: 2rem;
    }
    .contact-info {
      text-align: left;
    }
  }

  .country {
    text-align: left;
  }
}

@media only screen and (min-width: 1000px) {
  .card {
    width: 30%;
  }
}
